.bj{width:100%;height:615px;background:url("../images/up.jpg") no-repeat center;}

.lo_left{width:728px;height:615px;}
.lo_right{width:452px;height:626px;background:url("../images/zcym.png") no-repeat center;}
.hydl{display: inline-block;margin:40px 0 0 40px;}
.dl{display: inline-block;margin:45px 40px 0 0;}
.dl:hover{color:#ff8a81;}


.xxk{width:364px;margin:0 auto;background:#fff;height:42px;}
.xxk li{float:left;width:182px;height:42px;border-bottom: 2px solid transparent;
text-align: center;line-height: 42px;color: #666;}



.sjzc{display: block;}
.yxzc{display:none;}


.shuru{width:330px;margin:30px 80px 0;}
.sj{color: #ccc;padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}

.sjbc{height:20px;margin-left: 80px;}

.shuru2{width:330px;margin-left:80px;position: relative;}

.hy{color: #ccc;padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.mima{color: #ccc;padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.mima_txt{position:absolute;left:20px;top:10px;color: #ccc;}
.qrmm{color: #ccc;padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.qrmm_txt{position:absolute;left:20px;top:10px;color: #ccc;}
.sjyz{color: #ccc;padding-left:20px;width:135px;height:35px;margin:0 auto;display: inline-block;}
.sjyz_btn{width:146px;height:35px;margin:0 auto;display: inline-block;
background:#ff8a81;color: #fff;}
.yzm{color: #ccc;padding-left:20px;width:115px;height:40px;margin:0 auto;display: inline-block;}
.yzm2{color: #ccc;padding-left:20px;width:115px;height:40px;margin:0 auto;display: inline-block;}

.yzm_img{width:104px;height:40px;background:#ff8a81;}
.gh{height:40px;line-height: 40px;}

.xz{width:15px;height:15px;background:#fff;margin-left:85px;}
.bb{background:url("../images/xuanz.jpg") no-repeat center;
    background-position: -12px;}

.denglu{width:280px;height:37px;background:#ff8A84;margin:10px auto;
    display: block;color:#fff;}
.denglu:hover{background: #ffaa9c;}

.yx{color:#ccc;padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.yx_hy{color:#ccc;padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.yx_qrmm{padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.yx_mima{padding-left:20px;width:263px;height:35px;margin:0 auto;display: inline-block;}
.yx_mima_txt{position:absolute;left:20px;top:10px;color: #ccc;}
.yx_qrmm_txt{position:absolute;left:20px;top:10px;color: #ccc;}
.denglu1{width:280px;height:37px;background:#ff8A84;margin:10px auto;
    display: block;color:#fff;}
.denglu1:hover{background: #ffaa9c;}



.yx_foot{margin-top:60px;}







.bc_img1{display:none}
.bc_img2{display:none}
.bc_img3{display:none}
.bc_img4{display:none}



.bc_img5{display:none}
.bc_img6{display:none}
.bc_img7{display:none}
.bc_img8{display:none}

.yx1{display:none}
.yx_hy1{display:none}
.yx_mima1{display:none}
.yx_qrmm1{display:none}
.yzm21{display:none}







.sj1{display:none}
.hy1{display:none}
.mima1{display:none}
.qrmm1{display:none}
.sjyz1{display:none}
.yzm1{display:none}





















