.bj{width:100%;height:615px;background:url("../images/up.jpg") no-repeat center;}

.lo_left{width:728px;height:615px;}
.lo_right{width:452px;height:626px;background:url("../images/dl.png") no-repeat center;}
.hydl{display: inline-block;margin:100px 0 0 40px;}
.zc{display: inline-block;margin:110px 40px 0 0;}
.zc:hover{color:#ff8a81;}

.name{width:263px;height:36px;padding-left:20px;color: #ccc;}
.paw{width:263px;height:36px;margin-top:20px;padding-left:20px;}
.up{width:452px;text-align: center;margin-top:50px;position:relative;
}

.mm{position:absolute;left:105px;top:65px;color: #ccc;}
.cw{margin-left:90px;line-height: 20px;color: #ff8a81; }
.cw1{display:none;}



.zd{height:20px;width:365px;}
.xz{width:15px;height:15px;background:#fff;margin-left:85px;
}
.bb{background:url("../images/xuanz.jpg") no-repeat center;
    background-position: -12px;
}
.wj:hover{color: #ff8a81;}
.denglu{width:280px;height:37px;background:#ff8A84;margin:10px auto;
    display: block;color:#fff;}
.denglu:hover{background: #ffaa9c;}

.lj_btn{width:300px;margin:55px auto;height:55px;}
.ul1 li{width:55px;height:55px;float:left;margin-right:20px;overflow: hidden;
    }
.ul1 li:hover{background-position: -55px;}

.li1{background:url("../images/qq-btn.png") no-repeat left;}
.li2{background:url("../images/weixin-btn.png") no-repeat left;}
.li3{background:url("../images/sina-btn.png") no-repeat left;}
.li4{background:url("../images/zhifubao-btn.png") no-repeat left;}

















