.dl{color:#ff6d63}
.fh{height:80px;line-height: 80px;}


.bt{border-bottom: 1px solid #000;}
.bt span{height:32px;line-height: 32px;}
.sp{margin-right:400px;margin-left:50px;}
.dz{margin-right:200px;}
.sc{margin-right:100px;}
.yj{margin-right:100px;}
.xj{margin-right:100px;}

.nr ul li{height:75px;}
.nr ul{border-bottom: 1px solid #ccc;}
.nr_img{width:53px;height:53px;}
.nr_1{margin-right: 160px;width:280px;}
.nr_2{margin-right:50px;width:200px;height:30px;line-height: 30px;
margin-top: 20px;}
.nr_3{margin-right:80px;width:40px;height:30px;line-height: 30px;
    margin-top: 20px;margin-left:37px;}
.nr_4{margin-right:80px;width:40px;height:30px;line-height: 30px;
    margin-top: 20px;margin-left:5px;}
.nr_5{margin-right:40px;width:80px;height:30px;line-height: 30px;
    margin-top: 10px;margin-left:5px;}
.nr_6{width:40px;height:30px;line-height: 30px;margin-left:5px;
margin-top:20px;}

.gone{height:95px;line-height: 95px;}
.gone a{color:#666;}
.qk{width:100px;display:inline-block;}


.ze{height:60px;}
.js_warp{height:80px;}
.js{width:130px;height:32px;display: inline-block;background:#ff8A84;
color: #fff;margin-top:10px;float:right;text-align: center;
line-height: 32px;}








